<table style="margin-left: auto;
        margin-right: auto;">
  <tr>
    <td>
      <p>
        <b>Mã:</b>
        <%= @chuyen.id %>
      </p>

      <p>
        <b>Biển số xe:</b>
        <%= @chuyen.biensoxe %>
      </p>

      <p>
        <b>Công ty:</b>
        <%
           @congty = Congty.find(@chuyen.mact) %>
        <%= @congty.tenct %>
      </p>

      <p>
        <b>Tuyến:</b>
        <% @tuyen = Tuyen.find_by_matuyen(@chuyen.matuyen) %>
        <%= @tuyen.tentuyen + ' - ' + @tuyen.tentuyen2 %>
      </p>

      <p>
        <b>Số ghế:</b>
        <%= @chuyen.soghe %>
      </p>
    </td>
  </tr>

  <tr>
    <td>
          <!--
      % if can? :update, Chuyen %>
          %= link_to 'Cập nhật', edit_chuyen_path(@chuyen), :class => 'btn' %> |
      % end %> -->
      <%= link_to 'Quay lại danh sách', chuyens_path, :class => 'btn' %>
    </td>
  </tr>

</table>

