<div class="tieude">
  <h3>CÁC TRẠM CỦA TUYẾN</h3>
</div>


<table class="table">
  <tr>
    <th>Tuyến xe</th>
    <th>Trạm xe</th>
    <th></th>
  </tr>

  <% @diquatrams.each do |diquatram| %>
      <tr>
        <% @tuyen = Tuyen.find_by_matuyen(diquatram.matuyen) %>
        <td> [<%=  @tuyen.matuyen %>] <%=  @tuyen.tentuyen + ' - ' + @tuyen.tentuyen2 %></td>

        <% @matram = diquatram.matram
            @tramdung = Tramdung.find_by_id(@matram) %>
        <td><%= @tramdung.tentram %></td>
        <td style="text-align: right">
          <%= link_to diquatram, :class => 'btn  btn-mini btn-info' do %>
              <i class="icon-info-sign"></i>
          <% end %>
          &nbsp;
          <%= link_to edit_diquatram_path(diquatram), :class => 'btn  btn-mini btn-warning' do %>
              <i class="icon-pencil"></i>
          <% end %>
          &nbsp;
          <%= link_to diquatram_path(diquatram), method: :delete, data: {confirm: "Bạn có chắc chắn muốn xóa"}, :class => 'btn  btn-mini btn-danger' do %>
              <i class="icon-remove"></i>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'Thêm mới', new_diquatram_path, :class =>'btn btn-success' %>

<div style=" float: right;" class="flickr_pagination">
  <%= will_paginate @posts %>
</div>
