<%= form_for(@gopy) do |f| %>
  <% if @gopy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gopy.errors.count, "error") %> prohibited this gopy from being saved:</h2>

      <ul>
      <% @gopy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :noidung %><br />
    <%= f.text_field :noidung %>
  </div>
  <div class="field">
    <%= f.label :biensoxe %><br />
    <%= f.text_field :biensoxe %>
  </div>
  <div class="actions">

    <%= f.submit %>
  </div>
<% end %>
