<%= simple_form_for @khungthoigian, :html => {:class => 'form-horizontal'} do |f| %>
    <% if @khungthoigian.errors.any? %>
        <div id="error_explanation">
          <h2>Có <%= pluralize(@khungthoigian.errors.count, "") %>lỗi :</h2>

          <ul>
            <% @khungthoigian.errors.values.each do |msg| %>
                <% msg.each do |m| %>
                    <li><%= m %></li>
                <% end %>
            <% end %>
          </ul>
        </div>
    <% end %>

    <table style="margin-left: auto;
            margin-right: auto; ">
      <tr>
        <td>
          <div class="field">
            <%= f.label "Giờ xuất phát:" %>

            <%= f.time_select :di %>
          </div>
          <div class="field">
            <%= f.label "Giờ đến trạm cuối:" %>
            <br/>
            <%= f.time_select :den %>
          </div>
        </td>
      </tr>
    </table>
    </br>
    <div class="actions" style="text-align: center">
      <button class="btn btn-primary" type="submit">Lưu</button>
      <%= link_to "Hủy", khungthoigians_path, :class => 'btn' %>
    </div>
<% end %>
