

<table style="margin-left: auto;
        margin-right: auto;">
  <tr>
    <td>
      <p>
        <b>Tuyến xe:</b>
        <% @tuyen = Tuyen.find_by_matuyen(@diemtrentuyen.matuyen) %>
        [<%= @tuyen.matuyen %>] <%= @tuyen.tentuyen + ' - ' + @tuyen.tentuyen2 %>
      </p>

      <p>
        <b>Vĩ độ:</b>
        <%= @diemtrentuyen.vido %>
      </p>

      <p>
        <b>Kinh độ:</b>
        <%= @diemtrentuyen.kinhdo %>
      </p>
    </td>
  </tr>

  <tr>
    <td>

      <%= link_to 'Cập nhật', edit_diemtrentuyen_path(@diemtrentuyen), :class => 'btn' %> |
      <%= link_to 'Quay lại danh sách', diemtrentuyen_path, :class => 'btn' %>

    </td>
  </tr>

</table>