<%= simple_form_for @tuyen, :html => {:class => 'form-horizontal'} do |f| %>
    <% if @tuyen.errors.any? %>
        <div id="error_explanation">
          <h2>Có <%= pluralize(@tuyen.errors.count, "") %>lỗi :</h2>

          <ul>
            <% @tuyen.errors.values.each do |msg| %>
                <% msg.each do |m| %>
                    <li><%= m %></li>
                <% end %>
            <% end %>
          </ul>
        </div>
    <% end %>

    <table style="margin-left: auto;
            margin-right: auto; border-spacing: 50px 50px; text-align: left">
      <tr>
        <td>
          <div class="field">
            <%= f.label"Mã tuyến:" %>
            <br/>
            <%= f.number_field :matuyen %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.label"Nơi Xuất Phát:" %>
            <br/>
            <%= f.text_field :tentuyen %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.label"Đích:" %>
            <br/>
            <%= f.text_field :tentuyen2 %>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="field">
            <%= f.label"Loại hình:" %>
            <br/>
            <%= f.text_field :loaihinh %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.label"Cự ly (km):" %>
            <br/>
            <%= f.number_field :culy %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.label"Số chuyến:" %>
            <br/>
            <%= f.number_field :sochuyen %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%=f.label "Thời gian tuyến (km):" %>
            <br/>
            <%= f.number_field :thoigianchuyen %>
          </div>
        </td>
        <td>
          <div class="field">
            <%=f.label "Giãn cách (phút):" %>
            <br/>
            <%= f.number_field :giancach %>
          </div>
        </td>
        <td>
          <div class="field">
            <%=f.label "Thời gian hoạt động:" %>
            <br/>
            <%= f.text_field :tghoatdong %>
          </div>
        </td>
      </tr>
    </table>

    <div class="actions" style="text-align: center">
      <button class="btn btn-primary" type="submit">Lưu</button>
      <%= link_to "Hủy", tuyens_path, :class => 'btn' %>
    </div>
<% end %>
