<%= simple_form_for @tramdung, :html => {:class => 'form-horizontal'} do |f| %>
    <% if @tramdung.errors.any? %>
        <div id="error_explanation">
          <h2>Có <%= pluralize(@tramdung.errors.count, "") %>lỗi :</h2>

          <ul>
            <% @tramdung.errors.values.each do |msg| %>
                <% msg.each do |m| %>
                    <li><%= m %></li>
                <% end %>
            <% end %>
          </ul>
        </div>
    <% end %>

    <table style="margin-left: auto;
            margin-right: auto; ">
      <tr>
        <td>

          <div class="field">
            <%= f.label "Tên trạm:" %>

            <%= f.text_field :tentram %>
          </div>
          <div class="field">
            <%= f.label "Địa chỉ:" %>
            <br/>
            <%= f.text_field :diachitram %>
          </div>
          <div class="field">
            <%= f.label "Vĩ độ:" %>
            <br/>
            <%= f.text_field :vido %>
          </div>
          <div class="field">
            <%= f.label "Kinh độ:" %>
            <br/>
            <%= f.text_field :kinhdo %>
          </div>
        </td>
      </tr>
    </table>
    </br>
    <div class="actions" style="text-align: center">
      <button class="btn btn-primary" type="submit">Lưu</button>
      <%= link_to "Hủy", tramdungs_path, :class => 'btn' %>
    </div>
<% end %>
